---
import Layout from "../layouts/Layout.astro";


---

<Layout>
    <div>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae alias maxime sapiente dolore quaerat consectetur, ratione perspiciatis. Deleniti earum magni sint ratione minus delectus? Quaerat pariatur facilis sed dolorum magni.
    </div>
</Layout>